*{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#symbolCon{
    position: absolute;
    top: 35%;
    left: 35%;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}
.symbols{
    display: inline-block;
    padding: 15px;
    height: 200px;
    border: 2px solid rgb(141, 75, 75);
}
    
    
h1{
    background-color: rgb(200, 200, 220);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
h2{
    text-align: center;
}

button{
    background-color: rgb(164, 220, 238);
    color: rgb(133, 104, 183);
    text-align: center;
    
}
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
